* {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-color: #f1f4f0;
    background-image: url('./3706.jpg');
    background-size: cover;  /* or 'cover' */
    background-repeat: no-repeat;  
}

.bodycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    margin-bottom: 5rem;
    font-size: 60px;
    padding: 0; 
    margin-top: 0;
}

.welcomecontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1B2B37;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 0.5rem;
}

.welcomecontainer h4 {
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 254, 0.342);
}

h2 {
    text-align: center;
    font-size: 40px;
}


.searchbar {
    display: flex;
    justify-content: center;
    border: 0;
    background-color: #C26426;
    padding: 1rem;
    width: 100%;
    max-width: 30rem;
    height: 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.31);
    gap: 0.5rem;
    align-items: center;
}

.searchbar input {
    font-size: 17px;
    width: 100%;
    background: transparent;
    border: none;
    font-style: italic;
    outline: none;
    box-shadow: none;
    height: 1rem;
}

.searchbar button {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

#glass {
    background-color: #C26426;
    color: #1B2B37;
    border-radius: 100%;
    padding: 0.7rem;
}

#glass:hover {
    background-color: #9a4f1d;
    cursor: pointer;
}

#glass:active {
    color: #e2742b;
}

#weathercontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #1B2B37;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 5rem;
    width: 100%;
    max-width: 40rem;
}


.weatherboxes {
    background-color: #131c23;
    border-radius: 10px;
    width: 100%;
    max-width: 17rem;
    height: 100%;
    max-height: 10rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.31);
}

#locationbox h2 {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 40px;
}

#temperaturebox h3 {
    text-align: center;
    font-size: 40px;
    line-height: 1rem;
}

#temperaturebox #temp_max {
    color: rgb(255, 132, 0);
}

#temperaturebox #temp_min {
    color: rgb(0, 149, 255);
}
#current_tempbox {
    line-height: 1px;
}


#current_tempbox #temp_current {
    font-size: 40px;
    text-align: center;
}

#current_tempbox #title {
    font-size: 20px;
    text-align: center;
}

#weathericon {
    font-size: 100px;
    display: block;
    margin: auto;
}

.hidden {
    display: none !important;
}
